.cards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.card{
    border: solid 1px gray;
    max-height: 300px;
}
.card__body{
    padding: 0rem 1rem;
    margin-bottom: 20px;
}
.card__image{
    max-width: 250px;
    max-height: 200px;
}
.title{
    font-size: 24px;
}
.description{
    font-size: 14px;
}
.card.card-big{
    max-height: 400px;
}
.card.card-big > .card__image{
    max-width: 350px;
    max-height: 250px;
}