.card{
    border: solid 1px gray;
    display: inline-block;
}
.card__body{
    padding: 0rem 1rem;
    margin-bottom: 20px;
}
.card__image{
    max-width: 250px;
    max-height: 200px;
}
.title{
    font-size: 24px;
}
.description{
    font-size: 14px;
}